{% extends "base.html" %}

{% block content %}
<h2>Authorization request</h2>

<p>
    <strong><a href="{{ client_info.url }}">{{ client_info.name }}</a></strong>
    is requesting access to your identity and the following scopes:
</p>

<form method="POST" action="/auth/redirect">
    <input type="hidden" id="redirect_uri" name="redirect_uri" value="{{ redirect_uri }}" />
    <input type="hidden" id="code" name="code" value="{{ code }}" />

    {% if known_requested_scopes %}
    <h3>Known scopes</h3>
    {% for scope in known_requested_scopes %}
    <input checked type="checkbox" id="{{ scope }}" name="known" value="{{ scope }}">
    <label for="{{ scope }}">{{ scope }}</label><br>
    {% endfor %}
    {% endif %}

    {% if unknown_requested_scopes %}
    <h3>Unknown scopes</h3>
    {% for scope in unknown_requested_scopes %}
    <input checked type="checkbox" id="{{ scope }}" name="unknown" value="{{ scope }}">
    <label for="{{ scope }}">{{ scope }}</label><br>
    {% endfor %}
    {% endif %}

    {% if other_scopes %}
    <h3>Other supported scopes</h3>
    {% for scope in other_scopes %}
    <input type="checkbox" id="{{ scope }}" name="other" value="{{ scope }}">
    <label for="{{ scope }}">{{ scope }}</label><br>
    {% endfor %}
    {% endif %}

    <p><input type="submit" value="Allow" /></p>
</form>
{% endblock %}
