{% extends "base.html" %}

{% block content %}
<h2>Authorization request</h2>

{% if client_info.logo %}
<img src="{{ client_info.logo }}" width="100" height="100"/>
{% endif %}
<p>
    <strong><a href="{{ client_info.url }}">{{ client_info.name }}</a></strong>
    {% if client_info.summary %}
    ({{ client_info.summary }})
    {% endif %}
    is requesting access to your identity and the following scopes:
</p>

<form method="POST" action="{{ url_for('indieauth.auth_redirect') }}">
    <input type="hidden" id="redirect_uri" name="redirect_uri" value="{{ redirect_uri }}" />
    <input type="hidden" id="code" name="code" value="{{ code }}" />

    {% if known_requested_scopes %}
    <fieldset>
        <legend>Known scopes</legend>
        {% for scope in known_requested_scopes %}
        <input checked type="checkbox" id="{{ scope }}" name="known" value="{{ scope }}">
        <label for="{{ scope }}">{{ scope }}</label><br>
        {% endfor %}
    </fieldset>
    {% endif %}

    {% if unknown_requested_scopes %}
    <fieldset>
        <legend>Unknown scopes</legend>
        {% for scope in unknown_requested_scopes %}
        <input checked type="checkbox" id="{{ scope }}" name="unknown" value="{{ scope }}">
        <label for="{{ scope }}">{{ scope }}</label><br>
        {% endfor %}
    </fieldset>
    {% endif %}

    {% if other_scopes %}
    <fieldset>
        <legend>Other supported scopes</legend>
        {% for scope in other_scopes %}
        <input type="checkbox" id="{{ scope }}" name="other" value="{{ scope }}">
        <label for="{{ scope }}">{{ scope }}</label><br>
        {% endfor %}
    </fieldset>
    {% endif %}

    <input type="submit" value="Allow" />
</form>
{% endblock %}
