<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>robida.net</title>
        {% for rel, endpoint in links.items() %}
        <link rel="{{ rel }}" href="{{ endpoint }}">
        {% endfor %}
        <link rel="stylesheet" href="/static/css/simple.min.css">
        <link rel="stylesheet" href="/static/css/custom.css">
    </head>
    <body>
        <header>
            <h1>Robida</h1>
        </header>

        <main>
            <h2>Authorization request</h2>

            <p>
                <strong><a href="{{ client_info.url }}">{{ client_info.name }}</a></strong>
                is requesting access to your identity{% if scope %} and the following scopes:{% else %}.{% endif %}
            </p>

            {% if scope %}
            <ul>
                {% for s in scope.split(" ") %}
                <li><code>{{ s }}</code></li>
                {% endfor %}
            </ul>
            {% endif %}

            <p><a class="button" href="{{ redirect_uri }}">Allow</a></p>
        </main>

        <footer>
            <p>
                <a
                    class="copyright"
                    href="https://creativecommons.org/licenses/by-sa/4.0/"
                    title="CC BY-SA 4.0"
                >
                    <img src="/static/img/cc.svg" alt="CC">
                    <img src="/static/img/by.svg" alt="BY">
                    <img src="/static/img/sa.svg" alt="SA">
                </a>
                2024 robida.net
            </p>
        </footer>
    </body>
</html>
