<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title|default(config.SITE_NAME) }}</title>
        {% for link in links %}
        <link rel="{{ link.rel }}" href="{{ url_for(link.endpoint, _external=True) }}">
        {% endfor %}
        <link rel="stylesheet" href="{{ url_for("static", filename="css/simple.min.css") }}">
        <link rel="stylesheet" href="{{ url_for("static", filename="css/custom.css") }}">
    </head>
    <body>
        <header>
            <h1>{{ title|default(config.SITE_NAME) }}</h1>
        </header>

        <main>
            {% block content %}{% endblock %}
        </main>

        <footer>
            <p>
                <a
                    class="copyright"
                    href="https://creativecommons.org/licenses/by-sa/4.0/"
                    title="CC BY-SA 4.0"
                >
                    <img src="/static/img/cc.svg" alt="CC">
                    <img src="/static/img/by.svg" alt="BY">
                    <img src="/static/img/sa.svg" alt="SA">
                </a>
                2024
                <a href="https://github.com/betodealmeida/robida.net/">robida.net</a>
            </p>
        </footer>
    </body>
</html>
