{% extends "base.html" %}

{% block content %}
<h2>Heya!</h2>

<p>My name is <strong class="word-cloud">{{ config.NAME }}</strong>. I'm a <a rel="me" class="word-cloud" href="https://thefishermenandthepriestess.com/">musician</a> and an <a rel="me" class="word-cloud" href="https://home.apache.org/phonebook.html?uid=beto">Apache PMC member</a>, passionate about <a class="word-cloud" href="https://www.vegansociety.com/go-vegan/definition-veganism">veganism</a> and <a class="word-cloud" href="https://www.gnu.org/software/">free software</a>.</p>

<p>This is my very minimal website. You can find my posts in the <a class="word-cloud" href="#">RSS</a> or <a class="word-cloud" href="#">Atom</a> feed. You can also subscribe to the feed using <a class="word-cloud" href="https://www.w3.org/TR/websub/">WebSub</a>, or follow <code class="word-cloud">@me@robida.net</code> from any <a class="word-cloud" href="https://www.w3.org/TR/activitypub/">ActivityPub</a> client, like Mastodon. You can also leave a <a class="word-cloud" href="https://www.w3.org/TR/webmention/">WebMention</a>.</p>

<form method="post" action="/search">
    <input type="search" name="search" placeholder="Looking for something?">
    <button type="submit">Search</button>
</form>
{% endblock %}
