{% import 'macros/feed/author.html' as author_macros %}
{% import 'macros/feed/published.html' as published_macros %}

{% macro article(data, compact=False) %}
<header>
    <hgroup>
    {% if data.properties.name %}
    <h1 class="p-name">{{ data.properties.name[0] }}</h1>
    {% endif %}

    {% if data.properties.summary %}
    <p class="p-summary">{{ data.properties.summary[0] }}</p>
    {% endif %}
    </hgroup>
</header>

{% if data.properties.content %}
    {% if data.properties.content[0] is mapping %}
        {% set content = data.properties.content[0].html %}
    {% else %}
        {% set content = data.properties.content[0] %}
    {% endif %}
    {% if compact %}
        {% set content = summarize(content) %}
    {% endif %}

    <div class="e-content">
        {{ content | safe }}
    </div>
{% endif %}
{% endmacro %}
