{% import 'macros/feed/author.html' as author_macros %}
{% import 'macros/feed/post.html' as post_macros %}
{% import 'macros/feed/published.html' as published_macros %}

{# see https://indieweb.org/post-type-discovery #}
{% macro h_entry(data, compact=False) %}
<article id="entry-{{ data.properties.uid[0] }}" class="h-entry">
    {% if data.properties.name %}
    <header>
        <hgroup>
            <h1 class="p-name">{{ data.properties.name[0] }}</h1>

            {% if data.properties.summary %}
            <p class="p-summary">{{ data.properties.summary[0] }}</p>
            {% endif %}
        </hgroup>
    </header>
    {% endif %}

    {{ post_macros.post(data, compact=compact) }}

    <footer>
        <p>
            {% if data.properties.author %}
            {{ get_type_emoji(data) | safe }}
            Published by {{ author_macros.author(data.properties.author[0], compact=True) }}
            {% endif %}
            @
            {% if data.properties.url %}
            <a href="{{ data.properties.url[0] }}" class="u-url">
            {{ published_macros.published(data.properties.published[0]) }}
            ⚓
            </a>
            {% else %}
            {{ published_macros.published(data.properties.published[0]) }}
            {% endif %}

            {% if data.properties.visibility %}
            {% if data.properties.visibility[0] == 'private' %}
                <span class="p-visibility" title="Private">
                    🔒
                </span>
                {% elif data.properties.visibility[0] == 'unlisted' %}
                <span class="p-visibility" title="Unlisted">
                    🏴‍☠️
                </span>
                {% endif %}
            </span>
            {% endif %}

            {% if session.me == url_for('homepage.index', _external=True) %}
            <a
                href="{{ url_for('crud.edit', uuid=data.properties.uid[0]) }}"
                class="action"
                title="Edit entry"
            >✏️</a>
            <a
                href="#"
                class="action"
                title="Delete entry"
                hx-delete="{{ url_for('crud.delete', uuid=data.properties.uid[0]) }}"
                hx-confirm="Are you sure you wish to delete this entry?"
                hx-target="closest article"
                hx-swap="outerHTML swap:1s"
            >🗑️</a>
            {% endif %}

            {% if data.properties.category %}
            {% for category in data.properties.category %}
            <a
                href="{{ url_for('category.index', category=category) }}"
                class="p-category"
            >
                <mark>{{ category }}</mark>
            </a>
            {% endfor %}
            {% endif %}
        </p>
    </footer>

    {% for child in data.children %}
        {{ h_entry(child, compact) }}
    {% endfor %}
</article>
{% endmacro %}
