{% import 'macros/feed/h-entry.html' as h_entry_macros %}

{% macro h_feed(data, compact=False) %}
<div class="h-feed">
    <header>
        <hgroup>
            <h1 class="p-name">
                <a href="{{ data.properties.url[0] }}">
                    {{ data.properties.name[0] }}
                </a>
            </h1>
            <p class="p-summary">{{ data.properties.summary[0] }}</p>
        </hgroup>
    </header>

    {% for child in data.children %}
        {{ h_entry_macros.h_entry(child, compact) }}
    {% endfor %}
</div>
{% endmacro %}
