{% import 'macros/feed/author.html' as author_macros %}
{% import 'macros/feed/published.html' as published_macros %}

{% macro note(data) %}
<p class="p-content e-content">
    {% if data.properties.content[0] is mapping %}
        {# ignore HTML? #}
        {{ data.properties.content[0].value }}
    {% else %}
        {{ data.properties.content[0] }}
    {% endif %}
</p>
<footer>
    <p>
        {% if data.properties.author %}
        {{ get_type_emoji(data) | safe }}
        Published by {{ author_macros.author(data.properties.author[0], compact=True) }}
        {% endif %}
        @
        {% if data.properties.url %}
        <a href="{{ data.properties.url[0] }}" class="u-url">
        {{ published_macros.published(data.properties.published[0]) }}
        ⚓
        </a>
        {% else %}
        {{ published_macros.published(data.properties.published[0]) }}
        {% endif %}
    </p>
</footer>
{% endmacro %}
