{% import 'macros/feed/h-card.html' as h_card_macros %}
{% import 'macros/feed/h-entry.html' as h_entry_macros %}
{% import 'macros/feed/h-feed.html' as h_feed_macros %}

{% macro render_microformat(data) %}
    {% if "type" not in data %}
        {{ data }}
    {% elif data.type[0] == 'h-feed' %}
        {{ h_feed_macros.h_feed(data) }}
    {% elif data.type[0] == 'h-entry' %}
        {{ h_entry_macros.h_entry(data) }}
    {% elif data.type[0] == 'h-card' %}
        {{ h_card_macros.h_card(data) }}
    {% endif %}
{% endmacro %}
