{% import 'macros/feed/h-card.html' as h_card_macros %}
{% import 'macros/feed/h-entry.html' as h_entry_macros %}
{% import 'macros/feed/h-feed.html' as h_feed_macros %}

{% macro render_microformat(data) %}
    {% if data.type == ['h-feed'] %}
        {{ h_feed_macros.h_feed(data) }}
    {% elif data.type == ['h-entry'] %}
        {{ h_entry_macros.h_entry(data) }}
    {% elif data.type == ['h-card'] %}
        {{ h_card_macros.h_card(data) }}
    {% else %}
        {{ data }}
    {% endif %}
{% endmacro %}
