{% if data %}
{% set content = data.properties.content[0] %}
{% else %}
{% set content = None %}
{% endif %}

<fieldset>
    <label>
        Title
        <input
            name="title"
            tabindex="1"
            required
            autofocus
            {% if data and 'name' in data.properties %}
                value="{{ data.properties.name[0] }}"
            {% endif %}
        />
    </label>
    <label>
        Summary
        <input
            name="summary"
            tabindex="2"
            {% if data and 'summary' in data.properties %}
                value="{{ data.properties.summary[0] }}"
            {% endif %}
        />
    </label>
    <label>
        Content
        <textarea
            name="content"
            placeholder="Write, Lola, write!"
            aria-label="Article"
            tabindex="3"
            required
        >
            {%- if content is mapping -%}
            {{ content.value }}
            {%- elif content -%}
            {{ content }}
            {%- endif -%}
        </textarea>
        <small>
            <a href="https://www.markdownguide.org/" tabindex="6">Markdown</a> supported.
        </small>
    </label>
    <label>
        Categories
        <input
            name="category"
            placeholder="foo, bar"
            tabindex="4"
            {% if data and 'category' in data.properties %}
                value="{{ ', '.join(data.properties.category) }}"
            {% endif %}
        />
        <small>Comma separated list.</small>
    </label>
</fieldset>
<input type="submit" value="{{ 'Update' if data else 'Create' }}" tabindex="5"/>
