<fieldset>
    <label>
        Title
        <input
            name="title"
            tabindex="1"
            required
            autofocus
        />
    </label>
    <label>
        Summary
        <input
            name="summary"
            tabindex="2"
        />
    </label>
    <label>
        Content
        <textarea
            name="content"
            placeholder="Write, Lola, write!"
            aria-label="Article"
            tabindex="3"
            required
        ></textarea>
        <small>
            <a href="https://www.markdownguide.org/" tabindex="6">Markdown</a> supported.
        </small>
    </label>
    <label>
        Categories
        <input
            name="category"
            placeholder="foo, bar"
            tabindex="4"
        />
        <small>Comma separated list.</small>
    </label>
</fieldset>
<input type="submit" value="Create" tabindex="5"/>
