{% if data %}
    {% set bookmark_of = data.properties['bookmark-of'][0] %}
{% else %}
    {% set bookmark_of = None %}
{% endif %}

<fieldset>
    <label>
        URL
        <input
            name="url"
            placeholder="https://"
            autocomplete="url"
            tabindex="1"
            required
            autofocus

            {% if bookmark_of is mapping %}
            value="{{ bookmark_of.properties.url[0] }}"
            {% elif bookmark_of %}
            value="{{ bookmark_of }}"
            {% endif %}
        />
    </label>
    <label>
        Title
        <input
            name="title"
            placeholder="Leave blank for page title"
            tabindex="2"

            {% if data and 'name' in data.properties %}
            value="{{ data.properties.name[0] }}"
            {% endif %}
        />
    </label>
    <label>
        Categories
        <input
            name="category"
            placeholder="foo, bar"
            tabindex="3"

            {% if data and 'category' in data.properties %}
            value="{{ ', '.join(data.properties.category) }}"
            {% endif %}
        />
        <small>Comma separated list.</small>
    </label>
</fieldset>
<input type="submit" value="{{ 'Update' if data else 'Create' }}" tabindex="4"/>
