<fieldset>
    <label>
        URL
        <input
            name="url"
            placeholder="https://"
            autocomplete="url"
            required
        />
    </label>
    <label>
        Title
        <input
            name="title"
            placeholder="Leave blank for page title"
        />
    </label>
    <label>
        Categories
        <input
            name="category"
            placeholder="foo, bar"
        />
        <small>Comma separated list.</small>
    </label>
</fieldset>
<input type="submit" value="Create"/>
