{% extends "base.html" %}

{% block content %}
<h2>Edit entry</h2>

{% set template = data.properties['post-template'][0] if 'post-template' in data.properties else 'generic' %}

<form id="updateEntry" method="POST" action="{{ url_for('crud.submit') }}">
    <input type="hidden" name="uuid" value="{{ data.properties['uid'][0] }}"/>
    <fieldset>
        <label for="published">
            <input name="published" id="published" type="checkbox" role="switch" checked/>
            Published
        </label>

        <label for="sensitive">
            <input name="sensitive" id="sensitive" type="checkbox" role="switch"/>
            Sensitive
        </label>

        <label for="visibility">Visibility</label>
            <select name="visibility" id="visibility">
                <option selected value="public">Public</option>
                <option value="unlisted">Unlisted</option>
                <option value="private">Private</option>
            </select>
        <label>

        {% if template != 'generic' %}
        <label for="options">Template</label>
        <select
            name="template"
            id="template"
            aria-label="Select a template"
            required
            hx-get="{{ url_for('crud.template') }}"
            hx-params="*"
            hx-trigger="change"
            hx-target="#fields"
        >
            <option {{ 'selected' if template == 'article' }} value="article">Article</option>
            <option {{ 'selected' if template == 'bookmark' }} value="bookmark">Bookmark</option>
            <option {{ 'selected' if template == 'like' }} value="like">Like</option>
            <option {{ 'selected' if template == 'note' }} value="note">Note</option>
        </select>
        {% endif %}
    </fieldset>

    <div id="fields">
        {% include 'crud/' ~ template ~ '.html' %}
    </div>
</form>
{% endblock %}
