{% if data %}
    {% set like_of = data.properties['like-of'][0] %}
{% else %}
    {% set like_of = None %}
{% endif %}

<fieldset>
    <label>
        URL
        <input
            name="url"
            placeholder="https://"
            autocomplete="url"
            tabindex="1"
            required
            autofocus

            {% if like_of is mapping %}
            value="{{ like_of.properties.url[0] }}"
            {% elif like_of %}
            value="{{ like_of }}"
            {% endif %}
        />
    </label>
    <label>
        Title
        <input
            name="title"
            placeholder="Leave blank for page title"
            tabindex="2"

            {% if data and 'name' in data.properties %}
            value="{{ data.properties.name[0] }}"
            {% endif %}
        />
    </label>
</fieldset>
<input type="submit" value="{{ 'Update' if data else 'Create' }}" tabindex="3"/>
