<fieldset>
    <label>
        URL
        <input
            name="url"
            placeholder="https://"
            autocomplete="url"
            tabindex="1"
            required
            autofocus
            {% if data and 'like-of' in data.properties %}
                value="{{ data.properties['like-of'][0].properties.url[0] }}"
            {% endif %}
        />
    </label>
    <label>
        Title
        <input
            name="title"
            placeholder="Leave blank for page title"
            tabindex="2"
            {% if data and 'name' in data.properties %}
                value="{{ data.properties.name[0] }}"
            {% endif %}
        />
    </label>
</fieldset>
<input type="submit" value="{{ 'Update' if data else 'Create' }}" tabindex="3"/>
