{% extends "base.html" %}

{% block content %}
<h2>New entry</h2>

<form id="createEntry" method="POST" action="{{ url_for('crud.submit') }}">
    <fieldset>
        <label for="published">
            <input name="published" id="published" type="checkbox" role="switch" checked/>
            Published
        </label>

        <label for="sensitive">
            <input name="sensitive" id="sensitive" type="checkbox" role="switch"/>
            Sensitive
        </label>

        <label for="visibility">Visibility</label>
            <select name="visibility" id="visibility">
                <option selected value="public">Public</option>
                <option value="unlisted">Unlisted</option>
                <option value="private">Private</option>
            </select>
        <label>

        <label for="options">Template</label>
        <select
            name="template"
            id="template"
            aria-label="Select a template"
            required
            hx-get="{{ url_for('crud.template') }}"
            hx-params="*"
            hx-trigger="load,change"
            hx-target="#fields"
        >
            <option value="article">Article</option>
            <option value="bookmark">Bookmark</option>
            <option value="checkin">Check-in</option>
            <option value="like">Like</option>
            <option selected value="note">Note</option>
        </select>
    </fieldset>

    <div id="fields"></div>
</form>
{% endblock %}
