{% if data %}
{% set content = data.properties.content[0] %}
{% else %}
{% set content = None %}
{% endif %}

<fieldset>
    <label>
        Note
        <input
            name="content"
            placeholder="Penny for your thoughts"
            tabindex="1"
            required
            autofocus
            {% if content is mapping %}
                value="{{ content.value }}"
            {% elif content %}
                value="{{ content }}"
            {% endif %}
        />
        <small><a href="https://www.markdownguide.org/" tabindex="4">Markdown</a> supported.</small>
    </label>
    <label>
        Categories
        <input
            name="category"
            placeholder="foo, bar"
            tabindex="2"
            {% if data and 'category' in data.properties %}
                value="{{ ', '.join(data.properties.category) }}"
            {% endif %}
        />
        <small>Comma separated list.</small>
    </label>
</fieldset>
<input type="submit" value="{{ 'Update' if data else 'Create' }}" tabindex="3"/>
