article p.p-summary {
  font-style: italic;
}

article footer {
  font-size: 0.875em;
}

a.copyright, a.action {
  text-decoration: none;
}

footer.pagination {
  display: flex;
  justify-content: space-between;
}

/* Show carets after external links: https://christianoliff.com/blog/styling-external-links-with-an-icon-in-css/ */
a[href^="http"]::after, a[href^="https://"]::after {
  content: "↗";
  font-size: 0.625em;
  margin-left: 0.125em;
  padding-left: 0.125em;
  position: relative;
  text-decoration: none;
  vertical-align: super;
}

a[href^="http://localhost"]::after, a[href^="https://robida.net"]::after {
  display: none !important;
}

a.copyright::after, div.leaflet-control-attribution a::after {
  display: none !important;
}

dt {
  font-weight: bold;
}

.h-card img {
  border-radius: 1.0em;
  margin-bottom: 1.0em;
  width: 256px;
}

.p-category {
  font-size: 0.875em;
  padding: 0.25rem;
}

[aria-hidden="true"] {
  display: none;
}

/* Remove PicoCSS styling from role="button" elements */
.ace_fold-widget, .leaflet-control-zoom-in, .leaflet-control-zoom-out {
  padding: 0;
}

.ace_gutter_annotation, .ace_fold-widget, .leaflet-marker-icon, .leaflet-control-zoom-in, .leaflet-control-zoom-out {
  border: none;
  background-color: inherit;
  --pico-background-color: inherit;
}

.htmx-swapping td {
  opacity: 0;
  transition: opacity 1s ease-out;
}

#map {
  height: 500px;
  width: 100%;
  border-radius: 1.0em;
  border: none;
  --pico-background-color: inherit;
}

[data-audio-url] {
  cursor: help;
}

article article {
  border-left-width: 1px;
  border-left-style: dashed;
}
